/* This stylesheet is used to style the public view of the plugin. */

#thsp-sticky-header {
	margin-top: -200px;
	padding: 8px 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99998;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.admin-bar #thsp-sticky-header {
	top: 32px;
}
#thsp-sticky-header:after {
	content: "";
	display: table;
	clear: both;
}
#thsp-sticky-header-title {
	float: left;
	font-size: 22px;
	line-height: 30px;
	margin: 0 !important;
}
#thsp-sticky-header-title img {
	display: block;
	height: 30px;
	width: auto;
}
#thsp-sticky-header-menu {
	float: right;
	text-align: right;
	margin: 0 !important;
}
#thsp-sticky-header-menu li {
	display: inline-block;
	margin: 0 0 0 1.25em !important;
	font-size: 12px;
}
#thsp-sticky-header a {
	text-decoration: none;
}
#thsp-sticky-header li a {
	display: inline-block;
	line-height: 30px;
}